.authContainer {
  background-color: #dbcbeb;
  min-height: calc(100vh - 220px);
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}